<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

    <script type="text/javascript" src="javascripts/web3.js"></script>
    <script type="text/javascript" src="javascripts/giniLottoABI.js"></script>
    <script type="text/javascript" src="javascripts/giniTokenABI.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="javascripts/Ginitest.js"></script>
    <script>
        function login(){
            // submit();
            $.ajax({
                url: '/users/login',
                type: 'POST',
                success: function(r){
                    console.log(r.msg);
                },
                error: function(){

                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        
        <h1>로그인</h1>
        <label for="privatekey" class="col-lg-2 control-label">private key</label>
        <input id="privatekey" type="text">
        <button onClick="login()"><b>로그인</b></button>
        <div><span id="address"></span>접속정보</div>
        <div><span id="privateKey"></span>privateKey</div>
        <div><span id="myBalance"></span>GINI 보유중</div>



        <h1>Buy Lotto</h1>

        <h2 id="instructor"></h2>

        <label for="buyer" class="col-lg-2 control-label">buyer</label>
        <input id="buyer" type="text">

        <label for="donationId" class="col-lg-2 control-label">donationID</label>
        <input id="donationId" type="text">

        <label for="lotNumber" class="col-lg-2 control-label">lotNumber</label>
        <input id="lotNumber" type="text">
       
        <button onClick="buy20Lottery()" class ="button"><b>20개 구매 하기</b></button>
        <button onClick="buy1000tickets()" class ="button"><b>1000개 구매 하기</b></button>
        <button onClick="buyAutoLottery1000tickets()" class ="button"><b>오토십 1000개 구매 하기</b></button>
        <button onClick="debug()" class ="button"><b>디버깅</b></button>

        <h1>Lotto information</h1>
        <button onClick="checking()" class ="button"><b>Update Lotto info</b></button>

        <div><span  id="gameId"></span>gameId</div>
        <div><span  id="gameIndex_ticketNumber"> </span>ticketNumber</div>
        <div><span  id="gameLotNumberMax"> </span>gameLotNumberMax</div>

        <h1>Admin 권한 로또 실행</h1>
        <button onClick="adminGenerateRandom()" class="button">1.랜덤값 생성</button>
        <button onClick="adminDrawNumber()" class= "button">2.랜덤 번호 생성</button>
        <button onClick="adminCalWithTicket()" class= "button">3.티켓 당첨자 계산</button>
        <button onClick="adminDistribute()" class= "button">4.당첨금 분배</button>
        <button onClick="adminEndGame()" class= "button">5.EndGame(2~4한번에)</button>
        <button onClick="TestregisterReferal()" class= "button">TestregisterReferal(레퍼럴등록 테스트)</button>

        <h1>지니토큰 관련</h1>
        <div><span  id="gameLotNumberMax"> </span>gameLotNumberMax</div>
        <div><span  id="gameLotNumberMax"> </span>gameLotNumberMax</div>
        <div><span  id="gameLotNumberMax"> </span>gameLotNumberMax</div>
        <div><span  id="gameLotNumberMax"> </span>gameLotNumberMax</div>
        <div><span  id="gameLotNumberMax"> </span>gameLotNumberMax</div>



     
    </div>

    
    

</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

</body>
</html>